:root {
  --blue: rgb(5, 5, 177);
  --yellow: rgb(230, 199, 28);
  --pink: rgb(186, 78, 143);
  --green: rgb(7, 83, 7);
  --purple: rgb(66, 3, 66);
}

@font-face {
  font-family: 'Saint-George';
  font-weight: 500;
  src: url('/static/fonts/SaintGeorge-LowercaseStencil.ttf') format('truetype');
}

@font-face {
  font-family: 'Antic-Regular';
  font-weight: 500;
  src: url('/static/fonts/Antic-Regular.ttf') format('truetype');
}

body {
  margin: 0;
}

h1 {
  border-top-color: black;
  border-top-style: solid;
  padding-top: 2rem;
}

.slide-top li.spacer {
  width:30%;
}

@media (max-width: 930px) {
  .slide-top li.spacer {
    width: 5%;
  }
}

.dir-slate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-top: 5px black solid;
border-bottom: 5px black solid;
}

.front-image {
  border-left: 5px black solid;
padding: 1rem;
border-right: 5px black solid;
  flex-grow: 2;
}

.front-name {
  font-family: 'Saint-George', sans-serif;

}

.slide-top li.spacer::before {
  border: none;
}

.slide-top li.spacer::after {
  border: none;
}

.main-body {
  margin: 8px;

  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  text-align: justify;
}

h1 {
  font-size: 3rem;
  margin: 0 auto;
  font-family: 'Saint-George', sans-serif;
}

.website-title {
  font-size: 3rem;
  font-family: 'Antic-Regular', serif;
}

/* https://codepen.io/nickcolley/pen/nJRJNw */
ul.slide-top {
  height: 2.500em;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black; /* rgb(82, 42, 6); an older brown */
  
  font-size: 16px;
}

.slide-top li {
  position: relative;
  display: block;
  float: left;
  margin-right: 1.563em;
  
  height: 100%;
  width: 6.25em;
  
  cursor: pointer;
  user-select: none;
  
  text-align: center;
  line-height: 2.5em;
}

.slide-top a {
  color: white;
}

.slide-top li::before {
  content: '';
  position: absolute;
  display: block; 
 
  left: -1.564em;
  
  width: 0;
  height: 0;
  
  border-top: 2.5em solid transparent;
  border-right-width: 1.563em;
  border-right-style: solid
}

.slide-top li::after {
  content: '';
  position: absolute;
  display: block;
  
  top: 0;
  right: -1.564em;
  
  width: 0;
  height: 0;
  
  border-top-width: 2.5em;
  border-top-style: solid;
  border-right: 1.563em solid transparent;
}

.slide-top li:hover {
  background: #DDD;
}
.slide-top li:hover {
  color: #000;
}

.slide-top li:hover::after {
  border-top-width: 2.5em;
  border-top-style: solid;
  border-right: 1.563em solid transparent;
}
.slide-top li:hover::before {
  border-top: 2.5em solid transparent;
  border-right-width: 1.563em;
  border-right-style: solid;
}

/* Yellow */
.slide-top li.bar-yellow{
  background: var(--yellow);
}
.slide-top li.bar-yellow::before {
  border-right-color: var(--yellow);
}
.slide-top li.bar-yellow::after {
  border-top-color: var(--yellow);
}
.slide-top li.bar-yellow:hover {
  background: #DDD;
}
li.bar-yellow:hover::after {
  border-top-color: #DDD;
}
li.bar-yellow:hover::before{
  border-right-color: #DDD;
}
/* Pink */
li.bar-pink{
  background: var(--pink);
}
li.bar-pink::before {
  border-right-color: var(--pink);
}
li.bar-pink::after {
  border-top-color: var(--pink);
}
li.bar-pink:hover {
  background: #DDD;
}
li.bar-pink:hover::after {
  border-top-color: #DDD;
}
li.bar-pink:hover::before{
  border-right-color: #DDD;
}
/* Purple */
li.bar-purple {
  background: var(--purple);
}
li.bar-purple::before {
  border-right-color: var(--purple);
}
li.bar-purple::after {
  border-top-color: var(--purple);
}
li.bar-purple:hover {
  background: #DDD;
}
li.bar-purple:hover::after {
  border-top-color: #DDD;
}
li.bar-purple:hover::before{
  border-right-color: #DDD;
}
/* Blue */
li.bar-blue {
  background: var(--blue);
}
li.bar-blue::before {
  border-right-color: var(--blue);
}
li.bar-blue::after {
  border-top-color: var(--blue);
}
li.bar-blue:hover {
  background: #DDD;
}
li.bar-blue:hover::after {
  border-top-color: #DDD;
}
li.bar-blue:hover::before{
  border-right-color: #DDD;
}
/* Green */
li.bar-green {
  background: var(--green);
}
li.bar-green::before {
  border-right-color: var(--green);
}
li.bar-green::after {
  border-top-color: var(--green);
}
li.bar-green:hover {
  background: #DDD;
}
li.bar-green:hover::before {
  border-right-color: #DDD;
}
li.bar-green:hover::after {
  border-top-color: #DDD;
}

/*
nav ul.slide-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: rgb(82, 42, 6);
}

nav ul.slide-top li {
  list-style-type: none;
  margin-right: 1.563rem;
  cursor: pointer;
  text-align: center;
  line-height: 2.5em;
  /*transform: rotate(-30deg);
}

nav ul.slide-top li:hover {
  color: #666;
  background: #ccc;
}

nav ul.slide-top li:hover::after {
  border-top: 2.5em solid #ccc;
  border-right: 1.563em solid transparent;
}

nav ul.slide-top li:hover::before {
  border-top: 2.5em solid transparent;
  border-right: 1.563em solid #ccc;
}

.slide-top .bar-green {
  background-color: rgb(7, 83, 7);
  color: white;
}

.slide-top .bar-blue {
  background-color: rgb(5, 5, 177);
  color: white;
}

.slide-top .bar-purple {
  background-color: rgb(66, 3, 66);
  color: white;
}

nav ul.slide-top li a {
  text-decoration: none;
}
*/