@font-face {
  font-family: 'kent';
  font-weight: 500;
  src: url('/static/fonts/Kent.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'bethellen';
  font-weight: 500;
  src: url('/static/fonts/BethEllen-Regular.ttf') format('truetype');
  font-display: swap;
}


.main-body {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-width: 75%;
  background-color: #f9fffc;
  color: #008037;
}

.curly-font {
  font-family: bethellen, serif;
  font-size: 2.2rem;
}

.block-font {
  font-family: kent, sans-serif;
}

.centered {
  text-align: center;

}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 10%;
}

h1 {
  text-align: center;
  line-height: 1.5;
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  font-family: kent, sans-serif;
  color: #008037;
}

h2 {
  text-align: center;
  line-height: 1.3;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  font-family: kent, sans-serif;
  color: #008037;
}

p {
  line-height: 1.2;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
  color: #008037;
}

nav ul.slide-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul.slide-top li {
  list-style-type: none;
  color: #008037;
  font-family: kent, sans-serif;
}
