<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Kathleen and Bryce's Wedding</title>
    <meta property="og:title" content="{{ title }} - Kathleen and Bryce's Wedding"/>
    {% else %}
    <title>Kathleen and Bryce's Wedding</title>
    <meta property="og:title" content="Kathleen and Bryce's Wedding"/>
    {% endif %}
    <meta name="description" content="Kathleen and Bryce's Wedding Website"/>
    <meta property="og:url" content="https://willeyyoumarry.me"/>
    <meta property="og:type" content="website"/>
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="slide-top">
          <li class="spacer" aria-hidden="true"></li>
          <a href="{{ url_for('index') }}"><li class="bar-yellow">Home</li></a>
          <a href="{{ url_for('index') }}#location"><li class="bar-pink">Location</li></a>
          <a href="{{ url_for('index') }}#registry"><li class="bar-purple">Registry</li></a>
          <a href="{{ url_for('index') }}#rsvp"><li class="bar-green">RSVP</li></a>
          <li class="spacer" aria-hidden="true"></li>
        </ul>
      </nav>
    </header>

    <div class="main-body">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
     {% for message in messages %}
     <li>{{message}}</li>
     {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% block content %}{% endblock %}

    </div>

  </body>
</html>