<!DOCTYPE html>
<html>
 <head>
   {% if title %}
   <title>{{ title }} - Bryce and Kathleen's Wedding</title>
   {% else %}
   <title>Bryce and Kathleen's Wedding</title>
   {% endif %}
   <link rel="stylesheet" href="static/css/app.css">
 </head>
 <body>
   <header class="marquee">
     <nav>
       <ul class="slide-top">
        <li class="spacer" aria-hidden="true"></li>
        <a href="{{ url_for('index') }}"><li class="bar-yellow">Home</li></a>
        <a href="{{ url_for('index') }}#location"><li class="bar-pink">Location</li></a>
        <a href="{{ url_for('index') }}#regsitry"><li class="bar-purple">Registry</li></a>
        <a href="{{ url_for('index') }}#faq"><li class="bar-blue">FAQ</li></a>
        <a href="{{ url_for('index') }}#rsvp"><li class="bar-green">RSVP</li></a>
        <li class="spacer" aria-hidden="true"></li>
      </ul>
      </nav>
   </header>

   <div class="main-body">

   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}


   {% block content %}{% endblock %}

   </div>

 </body>
</html>