{% extends "base.html" %}

{% block content %}

    <div class="dir-slate">
      <div class="name1 front-name">Kathleen</div>
      <div class="front-image">
        <img src="/static/img/3R3A0277_websize.jpg" alt="An image of Kathleen and Bryce in the Boston common, walking up stairs away from the camera but looking back towards it."
          width="200">
      </div>
      <div class="name2 front-name">Bryce</div>
    </div>


<p>In progress</p>

<p>Our wedding is going to be in Peabody, Massachusetts, at Olio.</p>

<h1 id="location">Locations of Interest</h1>

<h2>Q: Where is the wedding going to be?</h2>

<p>A: In Peabody, Massachusetts! It's a town about 30 minutes north of Boston,
  and only a few minutes away from nearby Salem, a very popular Fall destination.
</p>

<h2>Q: How can I get to Peabody?</h2>

<p>To get to Massachusetts, you can fly into Logan airport (BOS).
  From there, take route 1 north, or take 93 north until it hits 95, then go east.
</p>

<h2>Q: What can I do in Peabody?</h2>

<p>A lot! There's a whole downtown street, with a library, a several restaurants.
</p>

<p>
  There's also a lot to do in nearby Salem! Witch tours, cute shops, and plenty of food!
</p>

<p>
  You are also a quick train ride to downtown Boston!
</p>

<h1 id="registry">Registry</h1>

Information coming soon!

<h1 id="faq">FAQ</h1>

<h2>Q: I'm having problems submitting my RSVP!</h2>

<p>
  No worries! Email Bryce (bryce.steven.willey@gmail.com) or Kathleen (kathleen.carroll.97@gmail.com)
  and we'll help you sort it out!
</p>

<h1 id="rsvp">RSVP</h1>

<p>First, find your name on our list</p>

  <form action="rsvp" method="post" novalidate>
  {{ form.hidden_tag() }}

  <p>
    {{form.name.label }}: {{ form.name(size=32) }} <br>
    {% for error in form.name.errors %}
    <span style="color: red;">[{{error}}]</span>"
    {% endfor %}
  </p>

  <p>{{ form.submit() }}</p>
  </form>

{% endblock %}